%nav.navbar.navbar-expand.navbar-dark.justify-content-between.p-0
  .container.justify-content-start
    %h1.navbar-brand Ticketing
    %ul.navbar-nav.flex-row
      %li.nav-item.active= link_to 'Projects', projects_path, class: 'nav-link'
      %li.nav-item= link_to 'Tickets', tickets_path, class: 'nav-link'
      %li.nav-item= link_to 'Tags', tags_path, class: 'nav-link'
  .container.justify-content-end
    = link_to 'Login', '#' 
    %span.p-1 or
    = link_to 'Signup', '#'
