%h2 Tickets
= form_with model: @ticket, local: true, method: :get do |f|
  .form-group.d-inline
    = f.label :project, 'Show tickets from'
    = f.collection_select :project_id, Project.all, :id, :name, prompt: 'All Projects'
  .form-group.d-inline
    = f.label :status, 'with status'
    = f.select :status, Ticket::STATUSES.map(&method(:format_ticket_status)), prompt: 'Any Status'
  .form-group.d-inline
    = f.label 'tagged [Tags]'
  .form-group.actions.d-inline
    = f.submit 'Update', class: 'btn btn-primary'
    = link_to 'Clear Filters', '#'
%br
= render 'table', tickets: @tickets
.mt-4= link_to 'New Ticket', new_ticket_path
