%h2= @ticket.name
%p= @ticket.body
%p
  %span.font-weight-bold Tags:
  = format_tags(@ticket.tags)
%p
  = link_to 'Edit', edit_ticket_path(@ticket)
  = link_to 'Delete', ticket_path(@ticket), method: :delete, 'data-confirm': 'Are you sure?'
%table.table.table-dark.border-bottom
  %thead
    %tr
      %th Status
      %th Creator
      %th Assignee
  %tbody
    %tr
      %td= format_ticket_status(@ticket.status)
      %td= @ticket.creator.name
      %td= @ticket.assignee&.name
%h3 Comments
- if @ticket.comments?
  - @ticket.comments.each do |comment|
    .card.bg-dark
      .card-body
        %p= comment.body
        %p.small posted by #{comment.creator.name} #{format_timestamps comment}
        = link_to 'Edit', edit_ticket_comment_path(@ticket, comment)
        = link_to 'Delete', ticket_comment_path(@ticket, comment), method: :delete, 'data-confirm': 'Are you sure?'
- else
  %p There are no comments.
= render 'comments/form'
