= render 'shared/errors', model: @project
= form_with model: @project, local: true do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control bg-dark'
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control bg-dark'
  .form-group.actions
    = f.submit nil, class: 'btn btn-primary'
