%h2 Tags
- if @tags.empty?
  %p There are no tags.
- else
  %table.table.table-dark
    %thead
      %tr.border-bottom
        %th Name
        %th.text-center Tickets
        %th
    %tbody
      - @tags.each do |tag|
        %tr
          %td= tag.name
          %td.text-center= link_to tag.tickets_count, tickets_path(tag: tag.id)
          %td
            = link_to 'Edit', edit_tag_path(tag)
            = link_to 'Delete', tag_path(tag), method: :delete, 'data-confirm': 'Are you sure?'
.mt-4= link_to 'New Tag', new_tag_path
