!!! 5
%html(lang='en-US')
  %head
    %title Ticketing
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.bg-dark.text-white
    .d-flex.flex-column.align-content-center.mx-auto.w-75
      %header= render 'shared/navigation'
      = render 'shared/flash_msg'
      %main= yield
